html, body {
	background-color: #fff;
	color: #000;
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden !important;
	padding: 0;
	width: 100%;
}

h1 {
	margin: 0;
}

td {
	padding: 1px 5px 1px 1px;
	vertical-align: top;
}

thead > tr > th {
	text-align: left;
	vertical-align: bottom;
}

tbody > tr > th {
	padding: 1px 10px 1px 1px;
	text-align: left;
	vertical-align: top;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
