html, body {
	background-color: #fff;
	color: #000;
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden !important;
	padding: 0;
	width: 100%;
}

h1 {
	margin: 0;
}

td {
	padding: 1px 5px 1px 1px;
	vertical-align: top;
}

thead > tr > th {
	text-align: left;
	vertical-align: bottom;
}

tbody > tr > th {
	padding: 1px 10px 1px 1px;
	text-align: left;
	vertical-align: top;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/static/font/sourcecodepro.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	src: url(/static/font/fontello.woff2?14148306) format('woff2');
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-unknown:before { content: '\e800'; }
.icon-directory:before { content: '\e801'; }
.icon-file:before { content: '\f15c'; }
